{% extends 'base.html' %}

{% block title %}DL Registration PAGE{% endblock %}

{% block content %}

<body>
    <h1>
        <center> " <span style="color: white;"> Wellcome To Driving License Portal </span> " </center>
    </h1>
    <hr>
    <br>

    <!-- <fieldset>
        <legend>&sext; &sext; DL FORM: &sext; &sext;</legend> -->
        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div>
                <label for="dlname">Name:</label>
                <input type="text" name="dlname" required>
            </div>

            <div>
                <label for="dlid">DL No:</label>
                <input type="number" name="dlid" required>

            </div>
            <div>
                <label for="dlphno">Phne No:</label>
                <input type="number" name="dlphno" required>

            </div>
            <div>
                <label for="address">Address:</label>
                <input type="text" name="address" required>
            </div>

            <button type="submit">Submit</button> <!-- onclick="location.href='/#DATABASE'" -->
        </form>

    <!-- </fieldset> -->

    <br>

    <a href="#DATABASE" style="text-decoration: none;">
        <h1>
            <center>DATABASE</center>
        </h1>
    </a>

    <hr>
    <br>

    <fieldset id="DATABASE">
        <legend>&sext; &sext; DATABASE &sext; &sext;</legend>
        <table>
            <thead>
                <th>SL NO</th>
                <th style="background-color: rgb(160, 123, 95);">obj. ID</th>
                <th>NAME</th>
                <th>DL NO</th>
                <th>PHONE NO</th>
                <th>ADDRESS</th>
                <th>DELETE</th>
                <th>UPDATE</th>
            </thead>

            <tbody>
                <tr style="background-color: rgb(160, 123, 95);">
                    <td>{}</td>
                    <td>{id}</td>
                    <td>{dlname}</td>
                    <td>{dlid}</td>
                    <td>{dlphno}</td>
                    <td>{address}</td>
                    <td>{}</td>
                    <td>{}</td>
                </tr>

                <!-- context ={"DL":dlMdata} of dl_insert function from views.py -->
                {% for x in DL %}
                <tr>
                    <td style="background-color: white; color: black;">{{forloop.counter}}</td>
                    <td style="background-color:  rgb(160, 123, 95);">{{x.id}}</td>
                    <td>{{x.dlname}}</td>
                    <td>{{x.dlid}}</td>
                    <td>{{x.dlphno}}</td>
                    <td>{{x.address}}</td>
                    <td><button id="delete" onclick="location.href='/delete/{{x.id}}'">Delete</button></td>
                    <td><button id="update" onclick="location.href='/Update/{{x.id}}'">Update</button></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </fieldset>

    <button onclick="location.href='/logout'" title="Click me for Logout." class="logoutButton">Logout</button>

</body>
{% endblock %}